@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
.main-nav {
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em 5% 0 5%;
}
.main-nav .logo {
  height: 65%;
}
.main-nav .logo img {
  height: 100%;
}
.main-nav .desktop-nav {
  display: none;
}
.main-nav .desktop-nav.nav-list {
  list-style: none;
  justify-self: end;
}
.main-nav .desktop-nav.nav-list .nav-item {
  margin: 0 15px;
  overflow: hidden;
}
.main-nav .desktop-nav.nav-list .nav-item:first-child {
  margin-left: 0;
}
.main-nav .desktop-nav.nav-list .nav-item:last-child {
  margin-right: 0;
}
.main-nav .desktop-nav.nav-list .nav-item .nav-link {
  position: relative;
  text-decoration: none;
  color: transparent;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
.main-nav .desktop-nav.nav-list .nav-item .nav-link::before, .main-nav .desktop-nav.nav-list .nav-item .nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  color: #aaa;
}
.main-nav .desktop-nav.nav-list .nav-item .nav-link::before {
  top: 0%;
}
.main-nav .desktop-nav.nav-list .nav-item .nav-link::after {
  top: 100%;
}
.main-nav .desktop-nav.nav-list .nav-item:hover .nav-link::before, .main-nav .desktop-nav.nav-list .nav-item:hover .nav-link::after {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.main-nav .hamburger_menu {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px;
  justify-self: end;
  position: relative;
  cursor: pointer;
  z-index: 11;
  overflow: hidden;
}
.main-nav .hamburger_menu .bar {
  position: absolute;
  height: 1px;
  width: 100%;
  background: #f7f7f7;
  -webkit-transition: background 250ms ease-in-out, top 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out;
  transition: background 250ms ease-in-out, top 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out;
  transition: background 250ms ease-in-out, top 250ms ease-in-out 250ms, transform 250ms ease-in-out;
  transition: background 250ms ease-in-out, top 250ms ease-in-out 250ms, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.main-nav .hamburger_menu .bar#bar-1 {
  top: 25%;
}
.main-nav .hamburger_menu .bar#bar-2 {
  top: 50%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.main-nav .hamburger_menu .bar#bar-3 {
  top: 75%;
}
.main-nav .hamburger_menu.cross .bar {
  background: #f7f7f7;
  -webkit-transition: background 250ms ease-in-out, top 250ms ease-in-out, -webkit-transform 250ms ease-in-out 250ms;
  transition: background 250ms ease-in-out, top 250ms ease-in-out, -webkit-transform 250ms ease-in-out 250ms;
  transition: background 250ms ease-in-out, top 250ms ease-in-out, transform 250ms ease-in-out 250ms;
  transition: background 250ms ease-in-out, top 250ms ease-in-out, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}
.main-nav .hamburger_menu.cross .bar#bar-1 {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav .hamburger_menu.cross .bar#bar-2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.main-nav .hamburger_menu.cross .bar#bar-3 {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (min-width: 1050px) {
  .main-nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav .hamburger_menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav .logo {
    height: 100%;
  }
}

.sidenav {
  overflow: auto;
  z-index: 10;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 250ms ease-out;
  transition: right 250ms ease-out;
}
.sidenav .nav-list {
  list-style: none;
  text-align: center;
}
.sidenav .nav-list .nav-item {
  font-size: 2rem;
  margin: 2em 0;
}
.sidenav .nav-list .nav-item:first-child, .sidenav .nav-list .nav-item:last-child {
  margin: 0;
}
.sidenav .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #f7f7f7;
  font-family: "Limelight", cursive;
}
.sidenav.show {
  right: 0;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}
.carousel .carousel-cell {
  text-align: center;
  padding: 0 2em;
  width: 100%;
  min-height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.carousel .carousel-cell .carousel-body {
  color: #aaa;
  font-size: 0.7rem;
}
.carousel .flickity-button {
  background: transparent;
}
.carousel .flickity-button .flickity-button-icon {
  color: #aaa;
}
@media (min-width: 1100px) {
  .carousel {
    margin-top: 60px;
    width: 80%;
  }
}

.video-poster {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}
.video-poster img {
  width: 100%;
  display: block;
}
.video-poster .play-icon {
  z-index: 2;
  color: #00bfa6;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1.5em;
  width: 1.5em;
  background: rgba(0, 64, 55, 0.7);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
.video-poster:hover .play-icon {
  height: 150%;
  width: 150%;
}
.video-poster:hover .play-icon i {
  -webkit-animation: rotate 1s infinite linear;
          animation: rotate 1s infinite linear;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.video-embed {
  width: 90%;
  max-width: 992px;
}
@supports (aspect-ratio: 16/9) {
  .video-embed {
    aspect-ratio: 16/9;
  }
}

.footer {
  background: #2f2e41;
}
.footer .footer-top .column {
  width: 100%;
  text-align: start;
  padding: 1em 2em;
}
.footer .footer-top .column .column-heading {
  font-size: 1.3rem;
  color: #f7f7f7;
  margin-bottom: 1em;
}
.footer .footer-top .column .column-body {
  color: #aaa;
  font-size: 0.9rem;
}
.footer .footer-top .column .column-body ul {
  list-style: none;
}
.footer .footer-top .column .column-body ul li {
  margin-bottom: 10px;
}
.footer .footer-top .column .column-body ul li i {
  margin-right: 0.5em;
}
.footer .footer-top .column .column-body ul li a {
  text-decoration: none;
  color: #aaa;
  padding-bottom: 5px;
  position: relative;
  color: #00bfa6;
}
.footer .footer-top .column .column-body ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 0;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  background: #00bfa6;
}
.footer .footer-top .column .column-body ul li a:hover::after {
  width: 100%;
  left: 0;
}
.footer .footer-top .column .column-body.address .map {
  border: 0;
  width: 100%;
  height: 300px;
}
@media (min-width: 768px) {
  .footer .footer-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, -webkit-min-content);
    grid-template-rows: repeat(4, min-content);
  }
}
@media (min-width: 1400px) {
  .footer .footer-top {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer .copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #242332;
  padding: 1em;
}

.hero-section {
  width: 100%;
  padding: 0 5%;
}
.hero-section .hero-img {
  height: 20rem;
  text-align: center;
}
.hero-section .hero-img img {
  height: 100%;
  border-radius: 0 0 250px 200px;
}
.hero-section .hero-text {
  margin-top: 1.25em;
  text-align: center;
}
.hero-section .hero-text .hero-heading {
  color: #f7f7f7;
  font-weight: 900;
}
.hero-section .hero-text .hero-desc {
  color: #aaa;
  margin-top: 1em;
  line-height: 25px;
}
@media (min-width: 992px) {
  .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-section .hero-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: start;
  }
  .hero-section .hero-img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (min-width: 1200px) {
  .hero-section .hero-img {
    height: 35rem;
  }
}

section {
  margin: 2em 5%;
}
section .section-heading {
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.3em;
  display: block;
  font-size: 1.2rem;
}
section .section-heading > h1 {
  padding-bottom: 0.5em;
  position: relative;
  display: inline;
}
section .section-heading > h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #f7f7f7;
}
section.showcase .video-container {
  height: 100%;
  background: #0f0e14;
  padding: 20% 10%;
  margin: 30% auto 0 auto;
}
section.showcase .video-container .video-poster {
  margin-top: -50%;
}
section.showcase .video-container .video-description {
  padding: 10px;
  text-align: center;
}
@media (min-width: 800px) {
  section.showcase .video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    position: relative;
    margin: 4em auto;
    padding: 17% 0;
    max-height: 25rem;
  }
  section.showcase .video-container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    right: 0;
    background: #0f0e14;
    z-index: -1;
  }
  section.showcase .video-container .video-poster {
    height: 100%;
    width: auto;
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  section.showcase .video-container .video-poster img {
    height: 100%;
    width: auto;
  }
  section.showcase .video-container .video-description {
    padding: 25px;
  }
  section.showcase .video-container:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 2em;
  }
  section.showcase .video-container:last-child::after {
    left: 0;
  }
}
@media (min-width: 1100px) {
  section.showcase .video-container {
    width: 80%;
  }
  section.showcase .video-container .video-description p {
    font-size: 1.3rem;
  }
}
section.feedback .section-heading {
  font-size: 1rem;
}
@media (min-width: 600px) {
  section.feedback .section-heading .section-heading {
    font-size: 1.5rem;
  }
  section.feedback .section-heading .carousel .carousel-cell .carousel-body {
    font-size: 0.9rem;
  }
}
@media (min-width: 800px) {
  section.feedback .section-heading .carousel .carousel-cell .carousel-heading {
    font-size: 1.4rem;
  }
  section.feedback .section-heading .carousel .carousel-cell .carousel-body {
    font-size: 1rem;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #00bfa6;
  color: #212121;
}

::selection {
  background: #00bfa6;
  color: #212121;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #191923;
  color: #f7f7f7;
}
body.unscroll {
  overflow: hidden;
  position: fixed;
}

p {
  font-size: 0.85rem;
}
@media (min-width: 600px) {
  p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */