@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
.main-nav {
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 5%;
}
.main-nav .logo .logo-text {
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: none;
  color: #000000;
  font-family: "Prata", serif;
}
.main-nav .desktop-nav {
  display: none;
}
.main-nav .desktop-nav.nav-list {
  list-style: none;
  justify-self: end;
}
.main-nav .desktop-nav.nav-list .nav-item {
  margin: 0 15px;
  overflow: hidden;
}
.main-nav .desktop-nav.nav-list .nav-item:first-child {
  margin-left: 0;
}
.main-nav .desktop-nav.nav-list .nav-item:last-child {
  margin-right: 0;
}
.main-nav .desktop-nav.nav-list .nav-item .nav-link {
  position: relative;
  text-decoration: none;
  color: transparent;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
.main-nav .desktop-nav.nav-list .nav-item .nav-link::before, .main-nav .desktop-nav.nav-list .nav-item .nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  color: #444;
}
.main-nav .desktop-nav.nav-list .nav-item .nav-link::before {
  top: 0%;
}
.main-nav .desktop-nav.nav-list .nav-item .nav-link::after {
  top: 100%;
}
.main-nav .desktop-nav.nav-list .nav-item:hover .nav-link::before, .main-nav .desktop-nav.nav-list .nav-item:hover .nav-link::after {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.main-nav .hamburger_menu {
  height: 1rem;
  width: 2.5rem;
  border: 1px;
  justify-self: end;
  position: relative;
  cursor: pointer;
  z-index: 11;
}
.main-nav .hamburger_menu .bar {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #212121;
  -webkit-transition: background 250ms ease-in-out, top 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out;
  transition: background 250ms ease-in-out, top 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out;
  transition: background 250ms ease-in-out, top 250ms ease-in-out 250ms, transform 250ms ease-in-out;
  transition: background 250ms ease-in-out, top 250ms ease-in-out 250ms, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.main-nav .hamburger_menu .bar#bar-1 {
  top: 0;
}
.main-nav .hamburger_menu .bar#bar-2 {
  top: 100%;
}
.main-nav .hamburger_menu.cross .bar {
  background: #f7f7f7;
  -webkit-transition: background 250ms ease-in-out, top 250ms ease-in-out, -webkit-transform 250ms ease-in-out 250ms;
  transition: background 250ms ease-in-out, top 250ms ease-in-out, -webkit-transform 250ms ease-in-out 250ms;
  transition: background 250ms ease-in-out, top 250ms ease-in-out, transform 250ms ease-in-out 250ms;
  transition: background 250ms ease-in-out, top 250ms ease-in-out, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}
.main-nav .hamburger_menu.cross .bar#bar-1 {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav .hamburger_menu.cross .bar#bar-2 {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (min-width: 1050px) {
  .main-nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav .hamburger_menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav .logo {
    height: 100%;
  }
}

.sidenav {
  overflow: auto;
  z-index: 10;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 250ms ease-out;
  transition: right 250ms ease-out;
}
.sidenav .nav-list {
  list-style: none;
  text-align: center;
}
.sidenav .nav-list .nav-item {
  font-size: 2rem;
  margin: 2em 0;
}
.sidenav .nav-list .nav-item:first-child, .sidenav .nav-list .nav-item:last-child {
  margin: 0;
}
.sidenav .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #f7f7f7;
  font-family: "Limelight", cursive;
}
.sidenav.show {
  right: 0;
}

.carousel {
  width: 100vw;
}
.carousel .carousel-img {
  width: 100%;
}
.carousel .carousel-img img {
  width: 100%;
}

.hero-section {
  width: 100%;
  padding: 5%;
}
.hero-section .hero-img {
  width: 100%;
}
.hero-section .hero-img img {
  width: 100%;
}
.hero-section .hero-text {
  margin-top: 1.25em;
  text-align: center;
}
.hero-section .hero-text .hero-heading {
  color: #212121;
  font-weight: 900;
}
.hero-section .hero-text .hero-desc {
  color: #444;
  margin-top: 1em;
}
@media (min-width: 992px) {
  .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-section .hero-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: start;
  }
  .hero-section .hero-img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

section {
  margin: 2em 5%;
}
section.showcase .section-heading {
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.5em;
  display: block;
}
section.showcase .section-heading h1 {
  padding-bottom: 0.5em;
  position: relative;
  display: inline;
}
section.showcase .section-heading h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #000000;
}
section.showcase .video-container {
  height: 100%;
  background: #f7f7f7;
  padding: 10%;
  margin-top: 40%;
}
section.showcase .video-container .video-poster {
  position: relative;
  width: 100%;
  margin-top: -50%;
}
section.showcase .video-container .video-poster img {
  width: 100%;
}
section.showcase .video-container .video-description {
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

p {
  font-size: 0.85rem;
}
@media (min-width: 600px) {
  p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */