@use "./../variables/" as *;

.hero-section {
  width: 100%;
  padding: 0 5%;
  .hero-img {
    height: 20rem;
    text-align: center;
    img {
      height: 100%;
    }
  }
  .hero-text {
    text-align: center;
    .hero-heading {
      color: $heading-clr-light;
      font-weight: 900;
    }
    .hero-desc {
      color: $text-clr-light;
      margin-top: 1em;
      line-height: 25px;
    }
  }
  @media (min-width: 992px) {
    & {
      display: flex;
      flex-direction: row;
      align-items: center;
      .hero-text {
        flex: 1;
        text-align: start;
      }
      .hero-img {
        flex: 1;
      }
    }
  }
  @media (min-width: 1200px) {
    .hero-img {
      height: 30rem;
    }
  }
}

section {
  margin: 2em 5%;
  .section-heading {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.3em;
    display: block;
    font-size: 1.2rem;
    & > h1 {
      padding-bottom: 0.5em;
      position: relative;
      display: inline;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 1px;
        background: $heading-clr-light;
      }
    }
  }
  &.showcase {
    .video-container {
      height: 100%;
      background: darken($color: $night-blue, $amount: 15%);
      padding: 20% 10%;
      margin: 30% auto 0 auto;
      .video-poster {
        margin-top: -50%;
      }
      .video-description {
        padding: 10px;
        text-align: center;
      }
    }
    @media (min-width: 800px) {
      & {
        .video-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: transparent;
          position: relative;
          margin: 4em auto;
          padding: 0;
          max-height: 25rem;
          &::after {
            content: "";
            position: absolute;
            height: 80%;
            width: 80%;
            top: 10%;
            right: 0;
            background: darken($color: $night-blue, $amount: 15%);
            z-index: -1;
          }
          .video-poster {
            height: 100%;
            width: auto;
            margin-top: 0;
            flex: 1;
            img {
              height: 100%;
              width: auto;
            }
          }
          .video-description {
            padding: 25px;
          }
          &:last-child {
            flex-direction: row-reverse;
            margin-top: 2em;
            &::after {
              left: 0;
            }
          }
        }
      }
    }
    @media (min-width: 1100px) {
      & {
        .video-container {
          width: 80%;
          .video-description {
            p {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  &.feedback {
    .section-heading {
      font-size: 1rem;
      .feedback-carousel {
        .feedback-carousel-slide {
          width: 100%;
          padding: 2em 10%;
          .carousel-heading {
            font-size: 1.2rem;
            margin-bottom: 1em;
          }
          .carousel-body {
            font-size: 0.8rem;
            opacity: 0.8;
          }
        }
      }
      @media (min-width: 1000px) {
        & {
          .feedback-carousel {
            margin-top: 1em;
            .feedback-carousel-slide {
              .carousel-heading {
                font-size: 1.4rem;
              }
              .carousel-body {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
