@use "./../variables/" as *;

.image-gallery {
  padding: 0 10%;
  margin: 50px 0;
  .gallery-item {
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    background: $green;
    img {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 30px;
  }
  @media (min-width: 1100px) {
    grid-gap: 50px;
  }
}
