@use "./../variables/" as *;

.jump-to-top-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  height: 2rem;
  width: 2rem;
  background: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 250ms ease-in-out;
  &:hover {
    background: lighten($color: $night-blue, $amount: 15%);
  }
}
