.wame {
  position: fixed;
  bottom: 80%;
  left: 1em;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  transition: bottom 750ms ease-in-out, opacity 750ms;
  opacity: 0;
  .wame-icon {
    width: 100%;
  }
  &.show {
    bottom: 1em;
    opacity: 1;
  }
}
