.wame {
  position: fixed;
  left: 1em;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  bottom: 1em;
  opacity: 1;
  transition: bottom 1250ms ease-in-out, opacity 1250ms;
  animation: show 1250ms ease-in-out;
  @keyframes show {
    from {
      bottom: 80%;
      opacity: 0;
    }
    to {
      bottom: 1em;
      opacity: 1;
    }
  }
  .wame-icon {
    width: 100%;
  }
}
